*
{
	margin: 0;
	padding: 0;
}

body
{
	background-color: #581845;
	font-family: sans-serif;

}


/*--Button--*/

.btn-primary
{
	background: orange !important;
	color: #fff;
	font-size: 15px;
	margin-left: 20px;
	border: none;
	box-shadow: none !important;
}







	












