{% extends "layout.html"%}
{% block body%}

<!-- Coding of sliding part -->
<section class="sliding-body">
	<div class="cloud">
		<img src="static/imgs/cloud.png" class="cloud01">
		<img src="static/imgs/cloud.png" class="cloud02">
		<img src="static/imgs/cloud.png" class="cloud03">
		
	</div>
	<div class="bg" >
		<img src ="static/imgs/windmill2.gif" class="windmill">
		<img src ="static/imgs/windmill2.gif" class="windmill3">
		<img src ="static/imgs/home3.png" class="home">
		<img src ="static/imgs/bunglow.png" class="home2">
		<img src ="static/imgs/windmill2.gif" class="windmill2">
		<img src ="static/imgs/tractor.png" align="bottom" class="tractor">
		
	</div>
</section>
<section class="section-cta">
		<div class="container">

		<div class="one">
					<h1 class="row">
					Welcome to Tractor-Mandi</h1>
				</div>
			<div class="row">
				
				<div class="col-md-8">
					<h2>For Offline booking and More Call Our TollFree Number</h2>
				</div>
				<div class="col-md-4">
					<a href="#" class="button-cta"><i class="fa fa-phone fa-2x" aria-hidden="true"></i>&nbsp;+91-8967452105</i></a>
				</div>
			</div>
		</div>
	</section>
<section id="about" class="light-bg section">
		<div class="container">
			<div class="row">
				<div class="col-lg-12 text-center">
					<div class="section-title">
						<h2>About</h2>
						<p> Tractor-Mandi is the best way farmers can explore various farming machineries. Also it provides recommendations according to the needs of the farmer</p> <br><h3><strong>Tractor Mandi Is More Than A Market, Its A Powerful Recommending Tool</strong></h3></p>
					</div>
				</div>
			</div>
			<div class="row">
				<!-- about module -->
				<div class="col-md-3 text-center">
					<div class="mz-module">
						<div class="mz-module-about">
							<i class="fas fa-handshake color1 ot-circle"></i>
							<h3>End to End Mechanism</h3>
							<p>The end-to-end mechanism is a design in where end sellers and farmers communicate, rather than a middle person</p>
						</div>
						<a href="#" class="mz-module-button">read more</a>
					</div>
				</div>
				<!-- end about module -->
				<!-- about module -->
				<div class="col-md-3 text-center">
					<div class="mz-module">
						<div class="mz-module-about">
							<i class="fas fa-users color2 ot-circle" ></i>
							<h3>Easy User Access</h3>
							<p>The user-interface is kept clear and user-friendly also helps user reach within not more than 2 clicks</p>
						</div>
						<a href="#" class="mz-module-button">read more</a>
					</div>
				</div>
				<!-- end about module -->
				<!-- about module -->
				<div class="col-md-3 text-center">
					<div class="mz-module">
						<div class="mz-module-about">
							<i class="fas fa-check-circle color3 ot-circle"></i>
							<h3>User Recommendation</h3>
							<p>To facilitate the purchase process, we provide shopping recommendation system for the consumers
							</div>
							<a href="#" class="mz-module-button">read more</a>
						</div>
					</div>
					<!-- end about module -->
					<!-- about module -->
					<div class="col-md-3 text-center">
						<div class="mz-module">
							<div class="mz-module-about">
								<i class="fas fa-inr  color4 ot-circle" ></i>
								<h3>Secured Exchange</h3>
								<p> Farmers get to do easy payment and the transactions are made secured by the validation process </p>
							</div>
							<a href="#" class="mz-module-button">read more</a>
						</div>
					</div>
					<!-- end about module -->
				</div>
			</div>
			<!-- /.container -->
		</section>
				<!-- Features -->
		
		<section id="features" class="section-features section">
			<div class="container">
				<div class="row">
					<div class="col-lg-12 text-center">
						<div class="section-title">
							<h2>Important Features</h2>
						</div>
					</div>
				</div>
				<div class="row row-gutter">
					<div class="col-md-6 col-gutter">
						<div class="featured-item">
							<div class="featured-icon"><i class="fas fa-mobile-alt"></i></div>
							<div class="featured-text">
								<h4>Fully Responsive Design</h4>
								<p>The website theme looks awesome at any size, be it a Laptop screen, Mobile or Tablet.</p>
							</div>
						</div>
						<div class="featured-item">
							<div class="featured-icon"><i class="fas fa-credit-card"></i></div>
							<div class="featured-text">
								<h4>Anytime Anywhere Payment</h4>
								<p>You can pay even without logging into your account, also flexible payment methods are provided</p>
							</div>
						</div>
					</div>
					<!-- <div class="col-md-4 col-gutter">
						
						
						
					</div> -->
					<div class="col-md-6 col-gutter">
						<div class="featured-item">
							<div class="featured-icon"><i class="fas fa-images"></i></div>
							<div class="featured-text">
								<h4>Image Based UI</h4>
								<p>Our web app provide easy understanding using more of the images provided</p>
							</div>
						</div>
						<div class="featured-item">
							<div class="featured-icon"><i class="fas fa-ad"></i></div>
							<div class="featured-text">
								<h4>Add Free </h4>
								<p>We provide the Website as a add free website so that user can use it more efficiently</p>
							</div>
						</div>
					</div>
				</div>
			</div>
		</section>
		
		<!-- PORTFOLIO -->
		
		<section id="portfolio" class="light-bg section">
			<div class="container">
				<div class="row">
					<div class="col-lg-12 text-center">
						<div class="section-title">
							<h2>Our Products</h2>
							<p>Our products is the best way to show our work, you can see here a big range of our work. Check them all and you will find what you are looking for.</p>
						</div>
					</div>
				</div>
				<div class="row row-0-gutter">
					<!-- start portfolio item -->
					<div class="col-md-4 col-0-gutter">
						<div class="ot-portfolio-item">
							<figure class="effect-bubba">
								<img src="static/imgs/tractor2.jpg" style="height:258px;width:400px" alt="img02" class="img-responsive" />
								<figcaption>
								<h2>Tractor</h2>
								<p>Click to Buy</p>
								<a href="#" data-toggle="modal" data-target="#Modal-1">View more</a>
								</figcaption>
							</figure>
						</div>
					</div>
					<!-- end portfolio item -->
					<!-- start portfolio item -->
					<div class="col-md-4 col-0-gutter">
						<div class="ot-portfolio-item">
							<figure class="effect-bubba">
								<img src="static/imgs/harvester2.jpg"  style="height:258px" alt="img02" class="img-responsive" />
								<figcaption>
								<h2>Harvesters</h2>
								<p>Click to buy</p>
								<a href="#" data-toggle="modal" data-target="#Modal-2">View more</a>
								</figcaption>
							</figure>
						</div>
					</div>
					<!-- end portfolio item -->
					<!-- start portfolio item -->
					<div class="col-md-4 col-0-gutter">
						<div class="ot-portfolio-item">
							<figure class="effect-bubba">
								<img src="static/imgs/agro-engine.jpg" alt="img02" style="height:258px;width:400px" class="img-responsive" />
								<figcaption>
								<h2>Agro Engine</h2>
								<p>Click to buy</p>
								<a href="#" data-toggle="modal" data-target="#Modal-3">View more</a>
								</figcaption>
							</figure>
						</div>
					</div>
					<!-- end portfolio item -->
				</div>
				<div class="row row-0-gutter">
					<!-- start portfolio item -->
					<div class="col-md-4 col-0-gutter">
						<div class="ot-portfolio-item">
							<figure class="effect-bubba">
								<img src="static/imgs/Batteries.png" style="height:258px;width:400px" alt="img02" class="img-responsive" />
								<figcaption>
								<h2>Batteries</h2>
								<p>Click to Buy</p>
								<a href="#" data-toggle="modal" data-target="#Modal-4">View more</a>
								</figcaption>
							</figure>
						</div>
					</div>
					<!-- end portfolio item -->
					<!-- start portfolio item -->
					<div class="col-md-4 col-0-gutter">
						<div class="ot-portfolio-item">
							<figure class="effect-bubba">
								<img src="static/imgs/hydraulic-pumps.jpg" style="height:258px;width:400px" alt="img02" class="img-responsive" />
								<figcaption>
								<h2>Hydraulic-Pumps</h2>
								<p>Click to buy</p>
								<a href="#" data-toggle="modal" data-target="#Modal-5">View more</a>
								</figcaption>
							</figure>
						</div>
					</div>
					<!-- end portfolio item -->
					<!-- start portfolio item -->
					<div class="col-md-4 col-0-gutter">
						<div class="ot-portfolio-item">
							<figure class="effect-bubba">
								<img src="static/imgs/silent-gensets.jpg" style="height:258px;width:400px" alt="img02" class="img-responsive" />
								<figcaption>
								<h2>Silent Gensets</h2>
								<p>Click to buy</p>
								<a href="#" data-toggle="modal" data-target="#Modal-2">View more</a>
								</figcaption>
							</figure>
						</div>
					</div>
					<!-- end portfolio item -->
				</div>
				</div><!-- end container -->
			</section>
			
			<!-- <section id="partners" class="section"> -->
			<!-- <div class="container"> -->
				<!-- <div class="row"> -->
					<!-- <div class="col-lg-12 text-center"> -->
						<!-- <div class="section-title"> -->
							<!-- <h2>Our Partners</h2> -->
							<!-- <p>We have wide range of companies that serve you the best products.</p> -->
						<!-- </div> -->
					<!-- </div> -->
				<!-- </div> -->
				<!-- <div class="row"> -->
					<!-- <div class="col-lg-12 text-center"> -->
						<!-- <div class="owl-partners owl-carousel"> -->
							<!-- <div class="item"> -->
								<!-- <div class="partner-logo"><img src="static/images/demo/partners-1.jpeg" alt="partners"></div> -->
							<!-- </div> -->
							<!-- <div class="item"> -->
								<!-- <div class="partner-logo"><img src="static/images/demo/partners-2.jpeg" alt="partners"></div> -->
							<!-- </div> -->
							<!-- <div class="item"> -->
								<!-- <div class="partner-logo"><img src="static/images/demo/partners-3.png" alt="partners"></div> -->
							<!-- </div> -->
							<!-- <div class="item"> -->
								<!-- <div class="partner-logo"><img src="static/images/demo/partners-4.png" alt="partners"></div> -->
							<!-- </div> -->
							<!-- <div class="item"> -->
								<!-- <div class="partner-logo"><img src="static/images/demo/partners-5.png" alt="partners"></div> -->
							<!-- </div> -->
							<!-- <div class="item"> -->
								<!-- <div class="partner-logo"><img src="static/images/demo/partners-6.png" alt="partners"></div> -->
							<!-- </div> -->
							<!-- <div class="item"> -->
								<!-- <div class="partner-logo"><img src="static/images/demo/partners-7.jpeg" alt="partners"></div> -->
							<!-- </div> -->
							<!-- <div class="item"> -->
								<!-- <div class="partner-logo"><img src="static/images/demo/partners-8.png" alt="partners"></div> -->
							<!-- </div> -->
							<!-- <div class="item"> -->
								<!-- <div class="partner-logo"><img src="static/images/demo/partners-9.png" alt="partners"></div> -->
							<!-- </div> -->
						<!-- </div> -->
					<!-- </div> -->
				<!-- </div> -->
			<!-- </div> -->
		<!-- </section> -->
			<section id="team" class="light-bg section">
				<div class="container">
					<div class="row">
						<div class="col-lg-12 text-center">
							<div class="section-title">
								<h2>Our Team</h2>
								<p>A creative team based on providing the poor farmers most out of their efforts , ready to make up your business with some great ideas. Our team gets the best required solutions for farmers to sell, buy and rent the farming equipments and machinery.</p>
							</div>
						</div>
					</div>
					<div class="row">
						<!-- team member item -->
						<div class="col-md-4">
							<div class="team-item">
								<div class="team-image">
									<img src="static/imgs/amogh.jpg" class="img-responsive" alt="author">
								</div>
								<div class="team-text">
									<h3>Amogh Kini</h3>
									<div class="team-position">CEO</div>
									<p>Mind is a processor not storage use it efficiently</p>
									<div class="team-socials">
										<a href="#"><i class="fa fa-twitter"></i></a>
										<a href="#"><i class="fa fa-facebook"></i></a>
										<a href="#"><i class="fa fa-youtube"></i></a>
										<a href="#"><i class="fa fa-google-plus"></i></a>
									</div>
								</div>
							</div>
						</div>
						<!-- end team member item -->
						<!-- team member item -->
						<div class="col-md-4">
							<div class="team-item">
								<div class="team-image">
									<img src="static/imgs/rajat.jpg" class="img-responsive" alt="author">
								</div>
								<div class="team-text">
									<h3>Rajat Mistry</h3>
									<div class="team-position">Web Design</div>
									<p>Art is everywhere its just the perspective of seeing the world around you</p>
									<div class="team-socials">
										<a href="#"><i class="fa fa-twitter"></i></a>
										<a href="#"><i class="fa fa-facebook"></i></a>
										<a href="#"><i class="fa fa-youtube"></i></a>
										<a href="#"><i class="fa fa-google-plus"></i></a>
									</div>
								</div>
							</div>
						</div>
						<!-- end team member item -->
						<!-- team member item -->
						<div class="col-md-4">
							<div class="team-item">
								<div class="team-image">
									<img src="static/imgs/somil.jpg" class="img-responsive" alt="author">
								</div>
								<div class="team-text">
									<h3>Somil Koul</h3>
									<div class="team-position">Marketing</div>
									<p>Just make the person inside you to be the one with most willingness</p>
									<div class="team-socials">
										<a href="#"><i class="fa fa-twitter"></i></a>
										<a href="#"><i class="fa fa-facebook"></i></a>
										<a href="#"><i class="fa fa-youtube"></i></a>
										<a href="#"><i class="fa fa-google-plus"></i></a>
									</div>
								</div>
							</div>
						</div>
						<!-- end team member item -->
					</div>
				</div>
			</section>
			<section class="section-cta1 ">
				<div class="container">
					<div class="row">
						<div class="col-md-8">
							<h2>For Emergency call our helpline No.</h2>
						</div>
						<div class="col-md-4">
							<a href="#" class="button-cta"><i class="fa fa-phone fa-2x" aria-hidden="true"></i>&nbsp;+81123456</i></a>
						</div>
					</div>
				</div>
			</section>
			<section id="contact" class="dark-bg section">
				<div class="container">
					<div class="row">
						<div class="col-lg-12 text-center">
							<div class="section-title">
								<h2>Contact Us</h2>
								<p>If you have some Questions or need Help! Please Contact Us!<br>We provide solutions to almost every problem in a simplified manner</p>
							</div>
						</div>
					</div>
					
					<div class="row">
						<div class="col-md-6">
							<div class="section-text">
								
								<h4>Our Business Office</h4>
								<p>3422 Street, Pachbatti 432, Palghar, New Building Shantiniketan, 15th Floor</p>
								<p><i class="fa fa-phone"></i> +101 377 655 22125</p>
								<p><i class="fa fa-envelope"></i> mail@yourcompany.com</p>
								
							</div>
						</div>
						<div class="col-md-6">
							<div class="section-text">
								<h4>Business Hours</h4>
								<p><i class="fa fa-clock-o"></i> <span class="day">Weekdays:</span><span>9am to 8pm</span></p>
								<p><i class="fa fa-clock-o"></i> <span class="day">Saturday:</span><span>9am to 2pm</span></p>
								<p><i class="fa fa-clock-o"></i> <span class="day">Sunday:</span><span>Closed</span></p>
							</div>
						</div>
						
					</div>
					
				</div>
			</section>
	{% include "common/sub_footer.html"%}
{% endblock %}
{% include "common/footer.html"%}