{% include "common/header.html"%}
{% block body%}
{% include "common/menu.html"%}
<form method="POST">
  <div style="text-align: left">
    <a href="/machine"> 
    <img src="static/imgs/tutorialb1.png"  style="margin-top:50px" alt="Submit" width="55%" height="75%">
    </a>

    
  </div>
</form>
   <div style="text-align: right">
     <a href="https://assistant-chat-eu-gb.watsonplatform.net/web/public/fa12ff5c-a152-4fee-b627-7c255f169390"> 
    <img src="static/imgs/tutorialb2.png"  style="margin-top:-450px" alt="Submit" width="55%" height="75%">
    </a>
  </div>

  <!-- <input type="image" src="static/imgs/tutorialb1.png" alt="Submit" width="75%" height="75%">

   <input type="image" src="static/imgs/tutorialb2.png" alt="Submit" style="float: right;position: relative;" width="75%" height="15%">
 -->

<!-- <iframe width="560" height="315" src="https://www.youtube.com/embed/TIGSBEUGYeU" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
 -->




{% include "common/sub_footer.html"%} 
{% endblock %}
