{% extends "layout.html"%}
{% block body%}
   <div class = "container">
       <h1>Your  orders</h1>
   <form action="" method="POST">
   purchased<BR>
            {% if rresult %}

            {% for x in range(rcount) %}
            <div class="col-md-4">
                <!-----for loop laga-------------->
                <div class="product-top">
                    
                </div>
                <div class="product-bottom text-center"  style="margine:10%">
                <img src="{{rresult[x]['image_url']}}" style="width:250px;" >
                    <h3>Name : {{rresult[x]['model_name']}}</h3>
                    <h5>Price : {{rresult[x]['price']}}</h5>

                </div>
            </div>
            {% endfor %}
            {%  endif %}
   on rent


        
   </form>
{%endblock%}